body {
    background-color: rgb(158, 158, 158);
}

nav, .mainbod {
    color: whitesmoke;
    background-color: rgb(90, 98, 124)
}

nav .row {
    justify-content: center;
}

.homelink :link {
    color: rgb(169, 203, 255);
}

.homelink :hover {
    color: rgb(128, 167, 226)
}

.homelink :visited {
    color: rgb(190, 128, 226)
}

.row.title {
    justify-content: space-around;
    margin-top: 3em;
}

.flex.container.bod, .container.bod {
    background-color: rgb(198, 212, 226);
}

.row.flex, .col.flex {
    justify-content: center;
}

#addMovie {
    color: whitesmoke;
}

.row.title {
    padding-top:1em;
    padding-bottom: 1em;
}

.row.movies-top, .row.movieRow {
    border-bottom: 1px solid black;
    margin-left: 1em;
    margin-right: 1em;
}

.row.movieRow {
    padding-bottom: 5px;
}

.home-img {
    max-width: 100%;
}

.hide-confirm{
    visibility: hidden;
  }

  .show{
      font-weight: 600;
  }
  